<h1 class="visually-hidden">crysthofferattier.github.io</h1>

<div class="d-flex flex-column flex-shrink-0 p-3 text-white" style="width: 280px;">
    <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="bi bi-code-slash">
                <span class="fs-4">AWESOMEPENTEST</span>
            </i>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/home" class="nav-link" aria-current="page">
                <i class="bi bi-house">Home</i>
            </a>
        </li>
        <li class="nav-item">
            <a href="/home" class="nav-link text-white" aria-current="page" data-bs-toggle="collapse" data-bs-target="#cheat-sheet-collapse" aria-expanded="false"><i class="bi bi-file-text">0x00-CheatSheet</i></a>
            <div class="collapse" id="cheat-sheet-collapse">
                <ul>
                    <a href="/reverse-shell" class="nav-link text-white">
                        <i class="bi bi-file-text">0x01 - Reverse Shell</i>
                    </a>
                    <a href="/tty-shell" class="nav-link text-white">
                        <i class="bi bi-file-text">0x02 - TTY Shell</i>
                    </a>
                </ul>
            </div>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://avatars.githubusercontent.com/u/32146845?s=400&u=6045c6eea0b262dca572eddd0986fb2be37084a0&v=4" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Crysthoffer Ratier</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="https://github.com/crysthofferattier" target="_blank">GitHub</a></li>
            <li><a class="dropdown-item" href="https://www.linkedin.com/in/crysthofferatier/" target="_blank">LinkedIn</a></li>
            <li><a class="dropdown-item" href="#">V. 1.0.7</a></li>
        </ul>
    </div>
</div>