/* You can add global styles to this file, and also import other style files */
body {
  background-color: #141d2b;
  color: #a4b1cd;
  font-family: "Neue Haas Unica";
}

h1 {
    color: white;
    font-weight: bold;
}

h2, h3 {
    color: white;
}

